


body {

    background-color: rgb(39, 39, 39);

    font-size: 14pt;
  
    font-family: 'EB Garamond', serif;
  
    color: white;
  
    line-height: 14pt;
  
    padding-left: 20pt;
  
    padding-right: 30pt;
  
    padding-top: 20pt;
    
  }

  a {

   color: rgb(177, 179, 252);
  
  }
  
  
  a:link, a:visited {
  
    color:rgb(177, 179, 252);
  
  }
  
  
  a:hover, a:active {
  
    color: white;
  
  }
  
  
