


body {

    background-color: rgb(0, 0, 0);

    font-size: 30pt;
  
    font-family: 'EB Garamond', serif;
    font-weight: bold;
  
    color:rgb(255, 255, 255);
  
    line-height: 32pt;
  
    padding-left: 20pt;
  
    padding-right: 30pt;
  
    padding-top: 20pt;

   
    
  }

  p{
    margin: 5px;
  }
  a {

   color: rgb(103, 103, 253);
  
  }
  
  
  a:link, a:visited {
  
    color:rgb(103, 103, 253);
  
  }
  
  
  a:hover, a:active {
  
    color: white;
  
  }
  
  @media only screen and (max-width: 500px) {
    p {
      font-size: 60px;
    }
  }
  
