


body {

    background-color: rgb(0, 0, 0);

    font-size: 16pt;
  
    font-family: 'EB Garamond', serif;
    font-weight: bold;
  
    color:rgb(255, 255, 255);
  
    line-height: 16pt;
  
    padding-left: 20pt;
  
    padding-right: 30pt;
  
    padding-top: 20pt;

   
    
  }

  p{
    margin: 5px;
  }
  a {

   color: rgb(65, 65, 255);
  
  }
  
  
  a:link, a:visited {
  
    color:rgb(65, 65, 255);
  
  }
  
  
  a:hover, a:active {
  
    color: white;
  
  }
  
  
